/* external CSS stylesheet for index.html */

body {
    background-color: #929dfd; /* Color Hex Code */
    color: #000000; /* color */
}
  
header {
  position: static; /* Position */
  background-color: 'yellow'; /* Background Color */
  margin: 10px 10px 10px 10px; /* Box Model */
  padding: 1px 1px 1px 1px; /* Box Model */
}

section {
  margin: 5px 5px; /* Box Model */
  padding: 2px 2px; /* Box Model */
  margin: 1%; /* Relative Unit */
  display: block;
}


div {
  margin: auto; /* Box Model */
  margin-left: auto;
  margin-right: auto;
  padding: 0.99em; /* Relative Unit */
}

/* Text */
h1 {
  font-family: 'Bruno Ace SC', sans-serif;
  max-width: 100in; /* Absolute Unit */
  min-width: 0.1cm; /* Absolute Unit, Sizing */
  color: rgb(1, 1, 1);
  font-size: 2.2rem; /* Relative Unit */
  text-align: center; /* text-align */
  text-decoration: underline;

  /* Box Model - Borders */
  border-style: solid;
  border-width: 2px; /* Absolute Unit */
  border-color: 'red'; /* Color Name */
  border-radius: 10px;
}

form {
  margin-right: auto;
  margin-top: auto;
  text-align: center;
  display: inline-block; /* display */
}

/* Combinators */
h2, h3 {
  color: hsl(240, 100%, 50%); /* Color hsl */
  text-align: left;
}

.container p {
  font-size: 12px;
}

ul > li {
  list-style: none;
}

p {
  line-height: 1.5;
}

h2 ~ p {
  margin-top: 10px;
}

h2 + p {
  font-weight: italic;
}

li.container {
  text-decoration: none; /* text-decoration */
}

/* Layouts - Grid */
main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(2, 250px);
  gap: 10px;
  padding: 1rem;
  margin: 10px;
}

.item0 {
  background-color: gray;
  color: white;
}

a[href="https://daily.jstor.org/surprising-historical-significance-fortune-telling/"]{
  color: rgb(162, 85, 13); /* Color rgb */
}

.navbar {
  display: none; /* Display */
  position: sticky; /* Position */
}

/* Sizing */
img {
  max-width: 100%; /* Sizing */
  height: auto; /* Sizing */
}

/* Pseudo Classes */
button:hover {
  background-color: blue;
  color: white;
}

button:active {
  background-color: green;
  color: white;
}

input:autofill {
  border: 3px solid darkorange;
}

/* Layouts - Flex */
.container {
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: space-between;
}

.item1 {
  background-color: gray;
  color: white;
}

/* Responsiveness */
@media screen and (max-width: 768px) {
  section {
    margin: 0;
  }
  .container {
    grid-template-columns: 1fr;
  }
}

/* Minimum resolution */
@media (min-resolution: 50dpi) {
  p {
    text-decoration: underline; /* Text */
  }
}

#agenda {
  width: auto; /* Sizing */
  height: auto;
}

* {
  margin: 10;
  padding: 0;
}

/* Fonts */
body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}